.container {

width: 1440;
height: 1020px;
background: url("../img/laptop-work-1241628.jpg") center center/cover no-repeat;
}

 .promo_text {
 
    color: #000000;
	font-family: Ariel;
	font-size: 24px;
	font-weight: 680;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 60px;
	 margin-left: 10px;

}

.title{
    color: #000000;
    font-family: Trochut;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 113px;
    margin-left: 135px;


}

 .work1, .work2, .work3, .work4, .work5, a {
    color: #ffffff;
 	font-family: Arial;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 64px;
 	line-height: 60px;
 	}

.work1 {
    margin-left: 900px;
}

.work2 {
    margin-left: 1400px;
    margin-top: 20px;
}

.work3 {
    margin-left: 953px;
     margin-top: 20px;
}

.work4 {
    margin-left: 1400px;
     margin-top: 20px;
}

.work5
 {
  
   margin-left: 1320px;
    margin-top: 20px;
}

.contact1, .contact2 {
    
    color: #ffffff;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;

  
   
   }
.contact1 {
    width: 782;
    padding-top:  150px;
    text-align: center; 
}

.contact2 {
    text-align: center;
}